.section-country-container{
    width: 40%;
    background: white;
    margin: 35px 250px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
.section-country-header{
    
    background: #435d7d;
    color: white;
    padding: 15px 25px;
    margin: -20px -20px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
