.modal-container{
    width: 400px;
    height: 580px;
    margin: 0px 100px;
    position: fixed;
    background-color: whitesmoke;
    left: 420px;
    box-shadow: 0 0 6px #666;
    color: #566787;
}
.background-modal{
    background-color: rgba(29, 31, 31, 0.692);
    top: 0;
    left: 0;
    position: fixed;
    height: 700px;
    width: 100%;
}

.modal-header{
    border-bottom: 0.5px solid #e5e5e5;
    padding: 10px 20px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.x-button{
    border:none;
    font-size: 15px;
    color: rgb(134, 131, 131);
    background-color: whitesmoke;
    align-content: flex-end;
    position: absolute;
    right: 25px;
    top: 27px;
}
.modal-body{
    padding: 20px;
}
.modal-inputs{
    height: 20px;
    width: 338px;
    padding: 5px;
    border: 1px solid #ccc;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: whitesmoke;
}
.select{
    height: 30px;
}
.modal-footer{
    background-color: #ECF0F1;
    border-top: 0.5px solid #e5e5e5;
    border-radius: 3px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;   
}
.modal-button{
    height: 34px;
    width: 100px;
    padding: 5px;
    border-radius: 2px;
    color: black;
    border: 0.5px solid #ccc;
    margin-right: 5px;  
}
.modal-right-button{
    background-color: #5cb85c;
    margin-right: 15px;
    color: #fff;
    border: none; 
}
.modal-button:hover{
    background-color: rgb(170, 170, 170);
}
.modal-right-button:hover{
    background-color: #397a39;
}
