.table{
    border-collapse: collapse;
    margin-left: 10px;
}
.th{
    max-width: 135px;
    padding: 10px 15px;
    border-bottom: 0.5px solid #333;
}
.alive{
    background-color: white;
}
.deceased{
    color: white;
    background-color: rgb(27, 26, 26);
}