td{
    border-bottom: 0.5px solid #a8a4a4;
    text-align: center;
    padding: 5px;
}
.alive td{
    background-color: white;
}
.deceased td{
    color: white;
    background-color: rgb(80, 78, 78);
}