.menu-container{
    padding: 2px 0px;
    height: 100vh;
    width: 200px;
    top: 0;
    background-color: rgb(52, 58, 56);
    position: fixed;
    border-top-right-radius: 3px;
}
.menu-header{
    background-color: rgb(27, 26, 26);
    padding: 30px 35px;
    margin: -3px 0px 0px;
    color: white;
    text-align: center;
    border-top-right-radius: 3px;
}
.menu-button-container{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.link-button{
    background-color: rgb(52, 58, 56);
    padding: 25px;
    border: none;
    margin-top: 10px 15px;
    text-align: left;
    font-size: 15px;
}
.link{
    color: #619761;
    text-decoration: none;
}
.link-button:hover{
    border-left: 9px solid #619761;
    background-color: rgb(73, 82, 79);
}