.table{
    border-collapse: collapse;
    margin-left: 10px;
}

.th{
    max-width: 135px;
    padding: 10px 15px;
    border-bottom: 0.5px solid #333;
}

.country-th-td{
    padding: 20px;
    width: 100px;
}
td{
    border-bottom: 0.5px solid #a8a4a4;
    text-align: center;
    padding: 5px;
  }
  .alive td{
    background-color: white;
  }
  .deceased td{
    color: white;
    background-color: rgb(80, 78, 78);
  }